.body{
    background-color: lightgray;
}

.titulo{
    color: indigo;
    
}

.barraNav{
    background-color: lightblue;
    border-radius: 20px;
    border-style: ridge;
    
}

.pNav{
    margin-left: 20px;
}

.imageSize{
    width: 300px;
    
}

.descripcionImagen{
    font-style: italic;
}