.body{
    background-color: lightgray;
}

.titulo{
    color: indigo;
    
}

#navega{
    background-color: lightblue;
    border-radius: 20px;
    border-style: ridge;
    
}

#navega li{
    display: inline-block;
    border: 1px solid rgb(68, 163, 201);
    border-radius: 6px;
    padding: 10px 20px;
}

.pNav{
    margin-left: 20px;
}

.imageSize{
    width: 300px;
    
}

.descripcionImagen{
    font-style: italic;
}